In [38]:
import pandas as pd
import numpy as np
from IPython.display import display

# Tsukuba Modelling

### Loading in Tsukuba Dataset

In [46]:
tsukuba = pd.read_csv("data/tsukuba_ac.csv").iloc[:,:24]
tsukuba.head()

tsukuba_irl = (
    tsukuba.loc[tsukuba['Source']=='irl']
    .drop(columns=['Author']))
tsukuba_irl.head()

tsukuba_ac = tsukuba.loc[tsukuba['Source']!='irl']
tsukuba_ac.head()

txt = " ({numcar} cars)"

print("Datasets:\n")
print("All Tsukuba Data"+txt.format(numcar = tsukuba.shape[0]))
display(tsukuba.head())
print()
print("\nReal Life Data Only"+txt.format(numcar = tsukuba_irl.shape[0]))
display(tsukuba_irl.head())
print("\nAssetto Corsa Data"+txt.format(numcar = tsukuba_ac.shape[0]))
display(tsukuba_ac.head())

Datasets:

All Tsukuba Data (1459 cars)

,Year,Brand,Model,Lap Time I,RC,Tire II,Lap Time II,RC,Tire III,Lap Time III,...,WTorque,Weight,P/W (kg/hp),Layout,Trans,Rating,_HD,Author,Source,Comments / Other Times
0,2016.0,Abarth,124 Spider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271.0,1070.0,6.045198,FR,MT,NaN,L,?,link,NaN
1,2008.0,Abarth,500 EsseEsse,1:11.907,0.0,SM,1:11.065,1.0,NaN,NaN,...,205.0,1025.0,7.167832,FF,MT,3.5,L,Kunos,AC,NaN
2,2008.0,Abarth,500 EsseEsse,1:12.997,0.0,NaN,NaN,NaN,NaN,NaN,...,206.0,1092.0,8.088889,FF,MT,NaN,L,Abarth,irl,NaN
3,2017.0,Abarth,595 Pista,1:11.661,0.0,NaN,NaN,NaN,NaN,NaN,...,252.0,1025.0,5.662983,FF,MT,3.0,L,Simaothekid,link,hp too high for whp
4,1964.0,Abarth,595 SS,1:31.018,0.0,NaN,NaN,NaN,NaN,NaN,...,38.0,470.0,16.785714,RR,MT,3.0,L,Kunos,AC,NaN

Real Life Data Only (231 cars)

,Year,Brand,Model,Lap Time I,RC,Tire II,Lap Time II,RC,Tire III,Lap Time III,...,WHP,WTorque,Weight,P/W (kg/hp),Layout,Trans,Rating,_HD,Source,Comments / Other Times
2,2008.0,Abarth,500 EsseEsse,1:12.997,0.0,NaN,NaN,NaN,NaN,NaN,...,135.0,206.0,1092.0,8.088889,FF,MT,NaN,L,irl,NaN
32,2003.0,Alfa Romeo,156 GTA,1:12.900,0.0,NaN,NaN,NaN,NaN,NaN,...,242.0,277.0,1410.0,5.826446,RR,MT,NaN,L,irl,NaN
53,2017.0,Alpine,A110,1:05.04,0.0,NaN,NaN,NaN,NaN,NaN,...,234.0,317.0,1111.0,4.747863,MR,AT,NaN,L,irl,NaN
76,2006.0,Audi,R8 4.2 FSI,1:03.88,0.0,NaN,NaN,NaN,NaN,NaN,...,354.0,376.0,1604.0,4.265957,M4,AT,NaN,L,irl,NaN
77,2009.0,Audi,R8 V10 5.2 FSI,1:04.87,0.0,NaN,NaN,NaN,NaN,NaN,...,485.0,474.0,1671.0,3.445361,M4,AT,NaN,L,irl,NaN

Assetto Corsa Data (1228 cars)

,Year,Brand,Model,Lap Time I,RC,Tire II,Lap Time II,RC,Tire III,Lap Time III,...,WTorque,Weight,P/W (kg/hp),Layout,Trans,Rating,_HD,Author,Source,Comments / Other Times
0,2016.0,Abarth,124 Spider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271.0,1070.0,6.045198,FR,MT,NaN,L,?,link,NaN
1,2008.0,Abarth,500 EsseEsse,1:11.907,0.0,SM,1:11.065,1.0,NaN,NaN,...,205.0,1025.0,7.167832,FF,MT,3.5,L,Kunos,AC,NaN
3,2017.0,Abarth,595 Pista,1:11.661,0.0,NaN,NaN,NaN,NaN,NaN,...,252.0,1025.0,5.662983,FF,MT,3.0,L,Simaothekid,link,hp too high for whp
4,1964.0,Abarth,595 SS,1:31.018,0.0,NaN,NaN,NaN,NaN,NaN,...,38.0,470.0,16.785714,RR,MT,3.0,L,Kunos,AC,NaN
5,2009.0,Abarth,Punto,1:11.601,0.0,NaN,NaN,NaN,NaN,NaN,...,230.0,1260.0,7.544910,FF,MT,3.5,L,Simaothekid,link,NaN

In [33]:
tsukuba_ac = tsukuba.loc[tsukuba['Source']!='irl']
tsukuba_ac.head()

,Year,Brand,Model,Lap Time I,RC,Tire II,Lap Time II,RC,Tire III,Lap Time III,...,WTorque,Weight,P/W (kg/hp),Layout,Trans,Rating,_HD,Author,Source,Comments / Other Times
0,2016.0,Abarth,124 Spider,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271.0,1070.0,6.045198,FR,MT,NaN,L,?,link,NaN
1,2008.0,Abarth,500 EsseEsse,1:11.907,0.0,SM,1:11.065,1.0,NaN,NaN,...,205.0,1025.0,7.167832,FF,MT,3.5,L,Kunos,AC,NaN
3,2017.0,Abarth,595 Pista,1:11.661,0.0,NaN,NaN,NaN,NaN,NaN,...,252.0,1025.0,5.662983,FF,MT,3.0,L,Simaothekid,link,hp too high for whp
4,1964.0,Abarth,595 SS,1:31.018,0.0,NaN,NaN,NaN,NaN,NaN,...,38.0,470.0,16.785714,RR,MT,3.0,L,Kunos,AC,NaN
5,2009.0,Abarth,Punto,1:11.601,0.0,NaN,NaN,NaN,NaN,NaN,...,230.0,1260.0,7.544910,FF,MT,3.5,L,Simaothekid,link,NaN

In [35]:
assert tsukuba_ac.shape[0] + tsukuba_irl.shape[0] == tsukuba.shape[0]

In [48]:
tsukuba.describe()

,Year,RC,RC,RC.1,WHP,WTorque,Weight,P/W (kg/hp),Rating
count,1172.000000,548.000000,130.000000,23.000000,1169.000000,1169.000000,1169.000000,1169.000000,314.000000
mean,2004.856655,0.255474,1.015385,1.043478,335.682635,410.857998,1448.395894,5.410493,3.425159
std,14.222218,0.728417,1.141090,1.223938,181.511645,220.340106,343.295537,2.866570,0.736955
min,1955.000000,-1.000000,0.000000,0.000000,4.000000,8.000000,141.000000,0.893099,0.500000
25%,1996.000000,0.000000,0.000000,0.000000,204.000000,258.000000,1258.000000,3.669617,3.000000
50%,2008.500000,0.000000,1.000000,1.000000,297.000000,376.000000,1450.000000,4.991957,3.500000
75%,2016.000000,0.000000,2.000000,2.000000,448.000000,530.000000,1608.000000,6.546392,4.000000
max,2023.000000,3.000000,3.000000,3.000000,1530.000000,2979.000000,3013.000000,35.250000,5.000000